body {
  background-image: url("https://i.pinimg.com/originals/94/88/69/94886926620f6604205121737bfb0103.jpg");
}

.bloco-cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 1em 7em;
  height: 50px;
  background-color: #ffff;
  border-radius: 1em;
}

.Musica {
  display: block;
  margin: 1em 7em;
  text-align: justify;
  border-radius: 1em;
  background-color: #ffff;
  color: #000;
  padding: 1em;
  font-size: 18px;
}

.titulo-Musica {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imagem {
  width: 20%;
  height: 20%;
  border-radius: 1em;
  display: block;
  margin: auto;
  padding: 0.3em;
}

.icones {
  width: 33%;
  display: block;
  margin: auto;
  align-items: center;
}

.button-icones {
  padding: 5px 10px;
  font-size: 14px;
  width: 80px;
  height: 30px;
}

.botoes {
  text-align: center;
}
